<img src="https://raw.githubusercontent.com/is-a-dev/register/main/media/logo.png" alt="Is-a.dev Logo" width="150" height="150" style="display: block;">
<%= PlausibleWeb.EmailView.greet_recipient(assigns) %>
<br /><br />

<%= @inner_content %>
<br /><br />

Regards,<br />
The Is-a.dev Team 💌
<br /><br />

--
<br /><br />
<%= link(plausible_url(), to: plausible_url()) %><br />


